<h2> <%= @question.text %> </h2>
# of votes: <%= @question.votes.count %>
<form method="post" action='/questions/<%= @question.id %>/votes'>
  <input type="submit" name="upvote-question" value="Upvote question" ></button>
</form>

<% if @question.votes.count > 0 %>
  <form method="post" action='/questions/<%= @question.id %>/votes/ham'>
    <input type='hidden' name='_method' value='delete' />
    <input type="submit" name="downvote-question" value="Downvote question" ></button>
  </form>
<% end %>
<p>
  Question Author: <%= @question.user.username %>
</p>

Question Comments:
<% @question_comments.each do |comment|  %>
  <p>
    <%= comment.text %>
  </p>
  <p>
    Question Comment Author: <%= comment.user.username %>
  </p>
<% end %>
<div>
  <a href='/questions/<%= @question.id %>/comments/new'>Post a comment</a>
</div>

<h3><a href="/questions/<%= @question.id %>/answers/new">Add an Answer</a></h3>

Answers:
<% @answers.each do |answer| %>
  <p>
    <%= answer.text %>
  </p>
  <p>
    Answer Author: <%= answer.user.username %>
  </p>

  Answer Comments:
    <% answer.comments.each do |comment| %>
      <p>
        <%= comment.text %>
      </p>
      <p>
        Answer Comment Author: <%= comment.user.username %>
      </p>
    <% end %>
<% end %>
