<div id='question-text'>
  <h2> <%= @question.text %> </h2>
</div>
<p>
  Question Author: <%= @question.user.username %>
</p>

Question Comments:
<% @question_comments.each do |comment|  %>
  <p>
    <div id='question-comment-text'>
      <%= comment.text %>
    </div>
  </p>
  <p>
    <div id='question-comment-author'>
      Question Comment Author: <%= comment.user.username %>
    </div>
  </p>
<% end %>
<div>
  <a href='/questions/<%= @question.id %>/comments/new'>Post a comment</a>
</div>

<h3><a href="/questions/<%= @question.id %>/answers/new">Add an Answer</a></h3>

Answers:
<% @answers.each do |answer| %>
  <p>
    <%= answer.text %>
  </p>
  <p>
    <div id='answer-author'> Answer Author: <%= answer.user.username %>
    </div>
  </p>

  Answer Comments:
  <div>
    <a href='/questions/<%= @question.id %>/answers/<%= answer.id %>/comments/new'>Add a comment</a>
  </div>
    <% answer.comments.each do |comment| %>
      <p>
        <div id='answer-comment-text'>
          <%= comment.text %>
        </div>
      </p>
      <p>
        <div id='answer-comment-author'>
          Answer Comment Author: <%= comment.user.username %>
      </div>
      </p>
    <% end %>
<% end %>
