<h2> <%= @question.title %> </h2>
<p><%= @question.text %></p>

# of upvotes: <%= @question.votes.where(upvote: 'true').count %>
<p>
  # of downvotes: <%= @question.votes.where(upvote: 'false').count %>
</p>


<% if session[:user_id] != nil %>
<form id='question-upvotes' method="post" action='/votes'>
  <input type='hidden' name='voteable_type' value='question' />
  <input type='hidden' name='voteable_id' value=<%= @question.id %> />
  <input type='hidden' name='upvote' value='true' />
  <input type='hidden' name='question_page' value=<%= @question.id %> />
  <input type="submit" name="upvote-question" value="Upvote question" ></button>
</form>

<form id='question-downvotes' method="post" action='/votes'>
  <input type='hidden' name='voteable_type' value='question' />
  <input type='hidden' name='voteable_id' value=<%= @question.id %> />
  <input type='hidden' name='upvote' value='false' />
  <input type='hidden' name='question_page' value=<%= @question.id %> />
  <input type="submit" name="downvote-question" value="Downvote question" ></button>
</form>
<% end %>

<p>
  Question Author: <%= @question.user.username %>
</p>

<div id="question-comment-container">
  Question Comments:
  <% @question_comments.each do |comment|  %>
    <%= erb :'/comments/_question_comment', layout: false, locals: { comment: comment } %>
  <% end %>
</div>

<% if session[:user_id] %>
  <div id="new-question-comment-container">
    <a href="/comments/new?commentable_type=question&commentable_id=<%= @question.id %>">Post a comment</a>
    <div id="question-comment-errors"></div>
    <div id="question-comment-form-container" hidden="true">
      <%= erb :"/comments/_form", layout: false, locals: { action: "comments", commentable_type: "question", commentable_id: @question.id } %>
    </div>
  </div>
<% end %>

<div id="answer-container">
  Answers:
  <% @answers.each do |answer| %>
    <%= erb :"answers/_answer", layout: false, locals: { answer: answer} %>
  <% end %>
</div>

<% if session[:user_id] %>
  <div id="new-answer-container">
    <h3><a href="/questions/<%= @question.id %>/answers/new">Add an Answer</a></h3>
    <div id="answer-errors"></div>
    <div id="answer-form-container" hidden="true">
      <%= erb :"/answers/_form", layout: false %>
    </div>
  </div>
<% end %>
