<h2> <%= @question.text %> </h2>
<p>
  Question Author: <%= @question.user.username %>
</p>
Question Comments:
<% @question_comments.each do |comment|  %>
  <p>
    <%= comment.text %>
  </p>
  <p>
    Question Comment Author: <%= comment.user.username %>
  </p>
<% end %>

<h3>Add an Answer:</h3>
<% if defined? errors %>
  <% errors.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>
<% end %>
<form action='/questions/<%= @question.id %>/answers' method="POST" class="new-answer-form">
  <textarea name='text' placeholder='Add an Answer'></textarea>
  <input type='hidden' name='question_id' value='<%= @question.id %>'>
  <input type='submit' name='submit' value='Post Answer' />
</form>

Answers:
<% @answers.each do |answer| %>
  <p>
    <%= answer.text %>
  </p>
  <p>
    Answer Author: <%= answer.user.username %>
  </p>
  Answer Comments:
    <% answer.comments.each do |comment| %>
      <p>
        <%= comment.text %>
      </p>
      <p>
        Answer Comment Author: <%= comment.user.username %>
      </p>
    <% end %>
<% end %>
